*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 34px;
    background: burlywood;
    color: coral;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}